.base__section__top {
  padding: 145px 0 65px 0;

  background-image: url('../../assets/images/base-top-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    opacity: 0.75;
  }

  &-container {
    position: relative;
    z-index: 10;
  }

  &-title {
    text-transform: uppercase;
    padding-left: 14px;
    border-left: 5px solid var(--primary-color);
    font-size: 35px;
    line-height: 47px;
    color: #fff;
    margin-bottom: 10px;
  }

  &-links {
    color: #fff;

    & a {
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      line-height: 19px;
      transition: color 0.3s ease;

      &:last-child,
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

@media (max-width: 750px) {
  .base__section__top-title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 450px) {
  .base__section__top {
    padding-top: 120px;

    &-title {
      font-size: 27px;
      line-height: 33px;
      margin-bottom: 5px;
    }
  }
}