.base__section__title {
  font-size: 35px;
  line-height: 47px;
  border-left: 5px solid;
  padding-left: 15px;

  & span {
    text-transform: uppercase;
    display: block;
    font-weight: 300;
  }
}

@media (max-width: 991px) {
  .base__section__title {
    font-size: 30px;
    line-height: 35px;
  }

  .text-sm {
    font-size: 13px;
    line-height: 17px;
  }
}

@media (max-width: 750px) {
  .base__section__title {
    font-size: 25px;
    line-height: 30px;
  }
}