.footer {
  background-color: var(--secondary-color);
  padding: 0px 0px 60px;
}
.footer__inner {
  display: flex;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

@media (max-width: 991px) {
  .footer__inner {
    display: block;
  }
  .footer__links {
    width: 100%;
  }
  .offers__card {
    width: 48%;
  }
}
