.product__description {
  max-width: 1900px;
  padding: 110px 0;
  margin: 0 auto;

  &__inner {
    position: relative;
  }

  &__left {

    & h1 {
      font-size: 35px;
      line-height: 47px;
      margin-bottom: 30px;
    }

    &-inner {
      width: 50%;
    }
  }

  &__right {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;

    & img {
      display: block;
      max-width: 100%;
      margin-left: auto;
    }
  }
}

@media (max-width: 750px) {
  .product__description {
    padding: 50px 0;

    &__right {
      position: static;
      width: 100%;

      & img {
        margin: 0 auto;
      }
    }

    &__left {
      margin-bottom: 30px;
      &-inner {
        width: 100%;
      }
    }
  }
}

@media (max-width: 570px) {
  .product__description__left h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
  }
}